<a href="https://colab.research.google.com/github/Biki463/colab-work/blob/main/assinment_KNN_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas  as pd

In [ ]:
import numpy as np

In [ ]:
data=pd.read_csv('/content/500_Person_Gender_Height_Weight_Index.csv')
data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [ ]:
data.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [ ]:
data.shape

(500, 4)

In [ ]:

data.drop('Index',axis=1,inplace=True)

In [ ]:
data.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
dtypes: int64(2), object(1)
memory usage: 11.8+ KB

In [ ]:
data.dtypes

Gender    object
Height     int64
Weight     int64
dtype: object

In [ ]:

data.isnull()

     Gender  Height  Weight
0     False   False   False
1     False   False   False
2     False   False   False
3     False   False   False
4     False   False   False
..      ...     ...     ...
495   False   False   False
496   False   False   False
497   False   False   False
498   False   False   False
499   False   False   False

[500 rows x 3 columns]

In [ ]:

data.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [ ]:

data['Height']

0      174
1      189
2      185
3      195
4      149
      ...
495    150
496    184
497    141
498    150
499    173
Name: Height, Length: 500, dtype: int64

In [ ]:

data['Height'].value_counts()

188    15
179    14
187    14
168    13
178    13
184    12
182    12
172    12
181    11
185    11
150    11
183    11
153    10
157    10
195    10
165    10
154    10
169    10
162     9
161     9
166     9
186     9
159     9
167     9
190     9
164     9
177     9
142     9
146     9
145     9
180     8
141     8
174     8
152     8
171     8
140     8
163     8
151     8
147     7
191     7
197     7
160     7
176     7
170     6
156     6
192     6
155     6
196     6
198     5
194     5
148     5
193     5
158     5
189     5
149     5
144     5
175     4
173     4
199     3
143     3
Name: Height, dtype: int64

In [ ]:
data['Height'].value_counts()/np.float(len(data))

<ipython-input-273-8af85fcbdda1>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data['Height'].value_counts()/np.float(len(data))

188    0.030
179    0.028
187    0.028
168    0.026
178    0.026
184    0.024
182    0.024
172    0.024
181    0.022
185    0.022
150    0.022
183    0.022
153    0.020
157    0.020
195    0.020
165    0.020
154    0.020
169    0.020
162    0.018
161    0.018
166    0.018
186    0.018
159    0.018
167    0.018
190    0.018
164    0.018
177    0.018
142    0.018
146    0.018
145    0.018
180    0.016
141    0.016
174    0.016
152    0.016
171    0.016
140    0.016
163    0.016
151    0.016
147    0.014
191    0.014
197    0.014
160    0.014
176    0.014
170    0.012
156    0.012
192    0.012
155    0.012
196    0.012
198    0.010
194    0.010
148    0.010
193    0.010
158    0.010
189    0.010
149    0.010
144    0.010
175    0.008
173    0.008
199    0.006
143    0.006
Name: Height, dtype: float64

In [ ]:
X=data.drop('Gender',axis=1)
y=data['Gender']

In [ ]:
X.columns

Index(['Height', 'Weight'], dtype='object')

In [ ]:
X.shape

(500, 2)

In [ ]:
y

0        Male
1        Male
2      Female
3      Female
4        Male
        ...
495    Female
496    Female
497    Female
498      Male
499      Male
Name: Gender, Length: 500, dtype: object

In [ ]:
y.shape

(500,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test =train_test_split(X,y,test_size=0.2, random_state=0)

In [ ]:
X_train.shape

(400, 2)

In [ ]:
y_train.shape

(400,)

In [ ]:
X_test.shape

(100, 2)

In [ ]:
y_train.shape

(400,)

In [ ]:
knn_model=KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn_model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
y_pred=knn_model.predict(X_test)

In [ ]:
y_pred

array(['Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female',
       'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female',
       'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female',
       'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female',
       'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male',
       'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female',
       'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male',
       'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female',
       'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male',
       'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female',
       'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male',
       'Male'], dtype=object)

In [ ]:
y_pred.shape

(100,)

In [ ]:
from sklearn.metrics import accuracy_score, recall_score, precision_score
accuacy_knn=accuracy_score(y_test, y_pred)
print(accuacy_knn*100)

52.0

In [ ]:
X_train.loc[5]

Height    189
Weight    104
Name: 5, dtype: int64

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[24 21]
 [27 28]]