<a href="https://colab.research.google.com/github/Biki463/colab-work/blob/main/SVM_ASSINMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas  as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('/content/500_Person_Gender_Height_Weight_Index.csv')
data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [ ]:
data.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [ ]:
data.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [ ]:
data.dtypes

Gender    object
Height     int64
Weight     int64
Index      int64
dtype: object

In [ ]:
data.isnull()

     Gender  Height  Weight  Index
0     False   False   False  False
1     False   False   False  False
2     False   False   False  False
3     False   False   False  False
4     False   False   False  False
..      ...     ...     ...    ...
495   False   False   False  False
496   False   False   False  False
497   False   False   False  False
498   False   False   False  False
499   False   False   False  False

[500 rows x 4 columns]

In [ ]:
data.isnull().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [ ]:
data.columns

Index(['Gender', 'Height', 'Weight', 'Index'], dtype='object')

In [ ]:
data['Gender']

0        Male
1        Male
2      Female
3      Female
4        Male
        ...
495    Female
496    Female
497    Female
498      Male
499      Male
Name: Gender, Length: 500, dtype: object

In [ ]:
data['Gender'].value_counts()

Female    255
Male      245
Name: Gender, dtype: int64

In [ ]:
data['Gender'].value_counts()/np.float(len(data))

<ipython-input-15-7c74363a9e92>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data['Gender'].value_counts()/np.float(len(data))

Female    0.51
Male      0.49
Name: Gender, dtype: float64

In [ ]:
X=data.drop('Gender', axis=1)
y=data['Gender']

In [ ]:
X.columns

Index(['Height', 'Weight', 'Index'], dtype='object')

In [ ]:
X.shape

(500, 3)

In [ ]:
y

0        Male
1        Male
2      Female
3      Female
4        Male
        ...
495    Female
496    Female
497    Female
498      Male
499      Male
Name: Gender, Length: 500, dtype: object

In [ ]:
y.shape

(500,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=0)

In [ ]:
X_train.shape

(400, 3)

In [ ]:
y_train.shape

(400,)

In [ ]:
X_test.shape

(100, 3)

In [ ]:
y_test.shape

(100,)

In [ ]:
# Import LogisticRegression
from sklearn.svm import SVC
# Instantiate a LogisticRegression classifier with default parameter values
classifier = SVC(kernel='linear', random_state=0)  

# Fit logreg to the train set
classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [ ]:
from sklearn.metrics import confusion_matrix
y_pred= classifier.predict(X_test)

In [ ]:
y_pred

array(['Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female', 'Female', 'Female',
       'Female', 'Female', 'Female', 'Female'], dtype=object)

In [ ]:
y_pred.shape

(100,)

In [ ]:
print("Accuracy of SVM Linear Classifier : ", classifier.score(X_test, y_test))

Accuracy of SVM Linear Classifier :  0.45

In [ ]:
confusion_matrix(y_test, y_pred)

array([[45,  0],
       [55,  0]])